body {
    background-image: url("photos/background.jpg");
}

#main {
    display: flex;

    margin: 10px 10px 0px 10px;
}

#else {
    flex-basis: 70%;
    background-color: white;
    background-image: url("photos/leafBorder.png");
    background-repeat: no-repeat;
    background-size: 10%;
    opacity: 0.5;
}

#else h1, p {
    text-align: center;
    color: black;
    opacity: 1;
}

#btn {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
}

#else p {
    font-size: large;
}

#photo {
    flex-basis: 20%;
}

